:root {
    --padding: .5rem;
    --radius: .25rem;
    --size-small: .85em;
    --reset-padding: calc(var(--padding) * -1);
    --half-padding: calc(var(--padding) / 2);
    --double-padding: calc(var(--padding) * 2);
}

* {
    box-sizing: border-box;
    scrollbar-color: var(--main-color) transparent;
}

*::selection {
    background: var(--outline-background-color);
    color: var(--outline-color);
}

:focus-visible {
    outline: ridge 2px var(--outline-background-color);
}

body {
    margin: 0;
    height: 100%;
    background-color: var(--tertiary-background-color);
    font-family: var(--fontfamily, sans-serif);
    font-size: 15px;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 100%;
    color: var(--text-color);
    user-select: none;
}

p, code {
    user-select: text;
}


a, button, input, select, textarea {
    text-decoration: none;
    color: var(--text2-color);
}
code.select-all {
    user-select: all;
}

input, textarea, button, select {
    font: inherit;
    border: none;
    accent-color: var(--main-color);
    font-size: var(--size-small);
    padding: var(--padding);
    border-radius: var(--radius);
}

input, textarea {
    color: var(--input-color);
    border-color: currentColor;
    background-color: var(--input-background-color);
}

input[type="submit"], button, select {
    color: var(--button-color);
    border-color: currentColor;
    background-color: var(--button-background-color);
}

h1, h2 {
    color: var(--text2-color);
    background-color: var(--main-color);
}

h1, h2 {
    margin: 0;
}

summary, input[type="submit"], input[type="file"], button {
    cursor: pointer;
}

/* --------------------------------------------------------- helpers */
.flexrow {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    &.reverse { flex-direction: row-reverse;}
    > * { 
        flex: 1 auto;
        align-items: center;
        justify-content: center;
        gap: var(--padding);
        display: flex;
    }
}

.flexcol {
    display: flex;
    flex-direction: col;
    gap: var(--padding);
    &.reverse { flex-direction: column-reverse;}
}

/* --------------------------------------------------------- topbar */
#topbar {
    background-color: var(--main-color);
    width: 100%;    
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
}
#topbar > div { 
    display: flex; 
    gap: var(--padding); 
    align-items: center;
}

#topbar input[type="text"], #topbar input[type="password"] {width: 100px;}


#topbar a.currentpage {
    text-decoration: underline;
}

/* --------------------------------------------------------- navbar */
.navbar {
    background-color: var(--secondary-background-color);
    display: flex;
    padding: var(--padding) ;
    gap: var(--padding); 
}
.navbar a {
    color: var(--text-color);
}

.navbar summary {
    list-style: none;
    padding: var(--half-padding) var(--padding);
    border-radius: var(--radius);
    /* white-space: nowrap; */
}
.navbar .submenu {
    background-color: var(--outline-background-color);
    width: min-content;    
    border: var(--padding) solid var(--outline-background-color);
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    overflow-x: hidden;
    position: absolute;
    max-height: 85%;
    overflow-y: auto;
    z-index: 10000;
    box-shadow: 0px 14px 14px #24242430;
    border-radius: 0 var(--radius) var(--radius) var(--radius);
}

.navbar summary:hover,
.navbar [open] summary {
    background-color: var(--outline-background-color);
    color: var(--outline-color);
}
.navbar [open] summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.navbar  code {
    overflow-x: auto;
}

.navbar  #save-workspace {
    position: absolute;
    right: 0;
}
.navbar h2 {
    font-size: 1em;
    background-color: var(--outline-background-color);
    padding: 0 0 var(--padding); 
    margin: var(--reset-padding) var(--reset-padding) 0;
}
.navbar h3{
    font-size: 1em;
    padding: var(--padding) var(--padding) var(--half-padding); 
    border-bottom: 1px solid var(--outline-background-color);
    margin: 0 var(--reset-padding) 0;
} 
.submenu-section {
    background: var(--secondary-background-color);
    padding: var(--padding); 
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.field { 
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    label { display: block; font-size: var(--size-small); padding-bottom: var(--half-padding);}
    label + input[type="text"],
    label + input[type="number"],
    label + input[type="color"],
    label + select { width: 100%; }
    /* &:not(:has(* + *)) {display: block;} */
    &:has([type="checkbox"]),
    &:has([type="radio"]),
    &:has([type="color"]) { 
        flex-direction: row-reverse; align-items: center;
        gap: var(--padding);
        label { flex: 1;}
    }    
    &:has([type="color"]) input { flex: 1; padding: 0;}
  }
  .submit {
    flex-direction: row;
    justify-content: end;
    align-items: end;
  }
  .submit [type=submit], .submit button {
    background: var(--outline-background-color);
    color: var(--text2-color);
    font-weight: bold;
  }

/* --------------------------------------------------------- links list (home, admin) */

.linkslist {
    padding: var(--padding) 0;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    li {
        display: flex;
        justify-content: space-between;
    }
    a {
        display: flex;
        justify-content: stretch;
        width: 100%;
    }
    a:hover {
        background-color: var(--outline-background-color);
        color: var(--outline-color);
    }
    .rss {
        width: min-content;
    }
    
}

/* --------------------------------------------------------- nav panel */
.panel {
    display: flex;
    gap: 1px;
}

.panel h1 {
    font-size: 1em;
    background-color: var(--outline-background-color);
    padding: var(--padding); 
    display: flex;
    justify-content: space-between;
    & > * { flex: inherit;}
}
.panel-section h1 {
    /* margin: var(--reset-padding) var(--reset-padding) 0; */
}
.panel h2 {
    font-size: 1em;
    background-color:var(--secondary-background-color);
    color: var(--text-color);
    padding: var(--padding); 
    margin: 0 var(--reset-padding);
    &:first-child { margin-top: var(--reset-padding);}
    &:not(:first-child) { margin-top: 2em;}
}

.panel h3,
.panel legend{
    font-weight: bold;
    width: calc(100% + var(--double-padding));
    font-size: 1em;
    padding: var(--padding) var(--padding) var(--half-padding); 
    border-bottom: 1px solid var(--tertiary-background-color);
    margin: 0 var(--reset-padding) var(--padding);
    /* &:first-child { margin-top: 1em;} */
} 
.panel-section {
    background: var(--primary-background-color);
    display: flex;
    flex-direction: column;
}

.scroll {
    overflow: auto;
    height: 100%;
    max-width: 100%;
    padding: var(--padding);
}
.editbar-scroll {
    padding: 0;
}
/* --------------------------------------------------------- tables */
.scroll table {
    width: calc(100% + var(--double-padding));
    margin: var(--reset-padding) var(--reset-padding) 1em;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th, 
table td {
    text-align: left;
    padding: var(--padding);
}
table tr td {
  border-bottom: 1px solid var(--tertiary-background-color);
}
/* --------------------------------------------------------- vbar */
.bar {
    background-color: var(--primary-background-color);
}

.collapsible {
    display: flex;
    flex-direction: row-reverse;
}
.collapsible .collapsible-content {
    display: none;
}

.toggle-label {
    height: 100%;
    font-size: 1em;
    cursor: pointer;
    background: var(--primary-background-color);
    span {
        background-color: var(--outline-background-color);
        color: var(--text2-color);
        padding: var(--padding) var(--half-padding);    
        display: block;     
    }
}

.toggle-label:hover {
    background-color: var(--outline-background-color);
}

:checked ~ .collapsible-content {
    display: flex;
    flex-direction: column;
    max-width: min-content;
}
/* Used for interface modification using hidden checkboxes */
input.toggle {
    display: none;
}



@media (max-width: 750px) {
    header a span, footer, aside a span {
        display: none;
    }
}


@media (max-width: 550px) {

    header a span, footer, header span#search, aside a span, .text {
        display: none;
    }

    aside summary {
        min-width: 45px !important;
        padding-right: 15px;
    }

    aside .submenu {
        left: 0;
        max-width: inherit !important;
    }

    .bar {
        flex-direction: column;
    }

    label.toogle {
        width: 100%;
        height: 30px;
    }
}

@media (pointer: coarse) {

    header a span, footer, header span#search, aside a span, .text {
        display: none;
    }

    body, input, select, button {
        font-size: 20px;
    }

    input[type="checkbox"], input[type="radio"] {
        height: 22px;
        width: 22px !important;
    }

    header a {
        font-size: 35px;
    }
    
}


/* __________________________ Flash Messages ___________________________ */

#flashmessage {
    color: white;
    position: fixed;
    animation-delay: 5s;
    animation-name: flash;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    max-height: 200px;
    width: 100%;
}

div#flashmessage:target {
    display: none;
}

#flashmessage ul {
    max-height: 200px;
    overflow-y: auto;
    margin: auto;
    z-index: 5;
}

#flashmessage li {
    padding: var(--padding);
}

#flashmessage li.alert-info {
    background-color: grey;
}

#flashmessage li.alert-warning {
    background-color: #FF5722;
}

#flashmessage li.alert-success {
    background-color: green;
}

#flashmessage li.alert-error {
    background-color: red;
}


@keyframes flash {
    from {
      top: 0;
    }
  
    to {
      top: -200px;
    }
  }
  

table a, li a {
    color: var(--text3-color);
}


