

input[type="text"],
input[type="password"] {
    width: 100%;
}
.profile > * {
    flex: 1;
}
.pref-panel p:not(.field) {
    margin: 1em 0;
}
.pref-panel {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}